<div class="panel panel-primary">
  <div class="panel-heading" ><h3>Listagem de Incidentes</h3></div>
</div>
<% if backofficer_signed_in? %>
  <div class="centered">
    <td><%= link_to 'Novo Incidente', new_incident_path, class: "btn btn-success" %></td>
  </div>
  <br />
<% end %>

<div class="basic-grey" align="center">
  <table>
    <thead>
    <tr>
      <th>Resumo do Problema</th>
      <th>Nível de Criticidade</th>
      <th>Status do Incidente</th>
      <th>Reportador por</th>
      <th>Aberto Em</th>
      <th>Última Atualização</th>
      <th>Analista</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @incidents.each do |incident| %>
      <tr style= "background: <%= cycle('white', 'ice') %>">
        <td><%= incident.title %></td>
        <td><%= incident.priority_level %></td>
        <td><%= incident.status %></td>
        <td><%= incident.backofficer.name %> - <%= incident.backofficer.email %> </td>

        <td><%= brazil_date(incident.created_at) %></td>
        <td><%= brazil_date(incident.updated_at) %></td>
        <% if incident.analyst.blank? %>
          <td><%= 'Sem atendimento' %> </td>
        <% else %>
          <td><%= incident.analyst.name %> </td>
        <% end %>

        <% if backofficer_signed_in? %>
          <% if incident.status == 'open' || incident.status == 'reopened' %>
            <td><%= link_to 'Detalhes', incident, class: "btn btn-primary"%></td>
            <td><%= link_to 'Editar Dados', edit_incident_path(incident), class: "btn btn-primary"%></td>
          <% elsif incident.status == 'solved' %>
            <td><%= link_to 'Detalhes', incident, class: "btn btn-primary"%></td>
            <td><%= link_to 'Reabrir Incidente', edit_incident_path(incident), class: "btn btn-danger" %></td>
          <% elsif incident.status == 'closed' %>
            <td><%= link_to 'Detalhes', edit_incident_path(incident), class: "btn btn-default" %></td>
            <td><%= link_to 'Editar Dados', edit_incident_path(incident), class: "btn btn-primary disabled", :disabled => true %></td>

          <% elsif incident.status == 'analysing' %>
            <td><%= link_to 'Detalhes', incident, class: "btn btn-primary"%></td>
            <td><%= link_to 'Editar Dados', edit_incident_path(incident), class: "btn btn-primary disabled", :disabled => true %></td>
          <% end %>
        <% else %>
          <td><%= link_to 'Detalhes', incident, class: "btn btn-primary"%></td>
          <% if incident.status == 'open' %>
            <td><%= link_to 'Iniciar Análise', incident_analyse_path(incident.id), method: :patch, class: "btn btn-danger" %></td>
          <% elsif incident.status == 'analysing' %>
            <td><%= link_to 'Iniciar Análise', incident_analyse_path(incident.id), method: :patch, class: "btn btn-danger disabled", :disabled => true %></td>
            <% elsif incident.status == 'solved' %>
            <td><%= link_to 'Iniciar Análise', incident_analyse_path(incident.id), method: :patch, class: "btn btn-danger disabled", :disabled => true %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="panel-heading" align="center"><%= will_paginate @incidens %></div>



