<div class="panel panel-primary">
  <div class="panel-heading"><h3>Incidentes de <%= check_user.name %></h3></div>
</div>

<% if backofficer_signed_in? %>
  <div class="centered">
    <td><%= link_to 'Novo Incidente', new_incident_path, class: "btn btn-success" %></td>
  </div>
  <br />
<% end %>

<div class="basic-grey">
  <table>
    <thead>
    <tr>
      <th>Resumo do Problema</th>
      <th>Nível de Criticidade</th>
      <th>Aberto Em</th>
      <th>Última Atualização</th>
      <th>Status do Incidente</th>
      <% if backofficer_signed_in? %>
        <th>Solucionador</th>
      <% else %>
        <th>Relatado por</th>
      <% end %>
      <th>Ações</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @my_incidents.each do |incident| %>
      <tr style= "background: <%= cycle('white', 'ice') %>">
        <td><%= incident.title %></td>
        <td><%= incident.priority_level %></td>
        <td><%= brazil_date(incident.created_at) %></td>
        <td><%= brazil_date(incident.updated_at) %></td>
        <td><%= incident.status %></td>
        <% if incident.analyst.blank? %>
          <td><%= 'Sem atendimento' %> </td>
        <% else %>
          <td><%= incident.analyst.name %> </td>
        <% end %>

        <% if backofficer_signed_in? %>
          <td><%= link_to 'Ver Chamado', incident, class: "btn btn-primary"%></td>
          <% if incident.status == 'open' || incident.status == 'reopened' %>
            <td><%= link_to 'Editar Dados', edit_incident_path(incident), class: "btn btn-primary"%></td>
          <% elsif incident.status == 'solved' %>
            <td><%= link_to 'Reabrir Incidente', edit_incident_path(incident), class: "btn btn-success" %></td>
            <td><%= link_to 'Ver Solução', edit_incident_path(incident), class: "btn btn-default" %></td>
          <% elsif incident.status == 'closed' %>
            <td><%= link_to 'Ver Solução', edit_incident_path(incident), class: "btn btn-default" %></td>
          <% end %>
        <% else %>
          <td><%= link_to 'Iniciar Análise', incident, class: "btn btn-success" %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</br>
<%= link_to 'Lista de Incidentes', incidents_path, class: "btn btn-primary" %>




