<div class="panel panel-primary">
  <div class="panel-heading">Detalhes do Requisição</div>
  <div class="panel-body">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nível de Prioridade</th>
          <th>Reportador Por</th>
          <th>Aberto Em</th>
          <th>Analista</th>
          <th>Última Atualização</th>
          <th>Status da Requisição</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @incident.id %></td>
          <td><%= raw value_for(@incident, 'priority_level') %></td>
          <td><%= @incident.backofficer.name %></td>
          <td><%= brazil_date(@incident.created_at) %></td>
          <td><%= responsible_analyst(@incident) %> </td>
          <td><%= brazil_date(@incident.updated_at) %></td>
          <td><%= raw value_for(@incident, 'status') %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr>
  <div class="panel-body">
    <div class="col-md-4">
      <div class="centered">
        <h4>Descrição do Problema</h4>
        <%= @incident.problem_description %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="centered">
        <h4>Tela de Evidência</h4>
        <% if @incident.evidence_screen.file? %>
          <%= link_to @incident.evidence_screen.url(:large) do %>
            <%= image_tag @incident.evidence_screen.url(:medium) %>
          <% end %>
        <% else %>
          <%= image_tag @incident.evidence_screen.url(:medium) %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="centered">
        <h4>Análise</h4>
        <!-- solution -->
        <% if @incident.status == Status::PENDING%>
          <%= @incident.pending_description %>
        <% else %>
          <%= @incident.solution_description %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>

  <div class="panel-body">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Resumo do Problema</th>
        <th>Email do Usuário</th>
        <th>Número do Contrato</th>
        <th>CPF do Usuário</th>
        <% if @incident.status == Status::SOLVED || @incident.status == Status::CLOSED %>
          <th>Escopo do Problema</th>
          <th>Tipo do Erro</th>
        <% elsif @incident.status == Status::REOPENED %>
          <th><span class='label label-danger'>Motivo da Reabertura</span></th>
      <% end %>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @incident.title %></td>
          <td><%= @incident.user_email %></td>
          <td><%= @incident.contract_id %></td>
          <td><%= @incident.user_cpf %></td>
          <% if @incident.status == Status::SOLVED || @incident.status == Status::CLOSED %>
            <td><%= @incident.problem_kind %></td>
            <td><%= @incident.entity %></td>
          <% elsif @incident.status == Status::REOPENED %>
            <td><%= @incident.reopening_description %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="text-center">
  <% if backofficer_signed_in? %>
    <% if @incident.status == Status::OPEN || @incident.status == Status::PENDING %>
      <%= link_to 'Editar dados da Requisição', edit_incident_path(@incident), class: "btn btn-default" %>
    <% elsif @incident.status == Status::SOLVED %>
      <%= link_to 'Reabrir Requisição', reopen_path(id: @incident.id), class: "btn btn-danger" %>
    <% elsif @incident.status == Status::ANALYSING %>
      <%= link_to 'Editar dados da Requisição', edit_incident_path(@incident), class: "btn btn-default disabled", :disabled => true %>
    <% elsif @incident.status == Status::REOPENED %>
      <%= link_to 'Editar dados da Requisição', edit_incident_path(@incident), class: "btn btn-default" %>
      <%= "  |  " %>
      <%= link_to 'Editar motivo da Reabertura', reopen_path(id: @incident.id), class: "btn btn-danger" %>
    <% end %>
<% elsif analyst_signed_in? %>
    <% if @incident.status == Status::OPEN %>
      <%= link_to 'Iniciar Análise', incident_analyse_path(@incident.id), method: :patch, class: "btn btn-danger" %>
      <%= "  |  " %>
      <%= link_to 'Resolver Requisição', solve_path(id: @incident.id), class: "btn btn-success disabled", :disabled => true %>
    <% elsif @incident.status == Status::REOPENED %>
      <%= link_to 'Reiniciar Análise', incident_analyse_path(@incident.id), method: :patch, class: "btn btn-danger" %>
    <% elsif @incident.status == Status::ANALYSING && @incident.analyst_id == current_analyst.id %>
      <%= link_to 'Iniciar Análise', incident_analyse_path(@incident.id), method: :patch, class: "btn btn-danger disabled", :disabled => true %>
      <%= "  |  " %>
      <%= link_to 'Resolver Requisição', solve_path(id: @incident.id), method: :get, class: "btn btn-success" %>
      <%= "  |  " %>
      <%= link_to 'Pendente', pending_path(id: @incident.id), method: :get, class: "btn btn-primary" %>
    <% elsif (@incident.status == Status::ANALYSING || @incident.status == Status::PENDING) && @incident.analyst_id != current_analyst.id %>
      <%= link_to 'Iniciar Análise', incident_analyse_path(@incident.id), method: :patch, class: "btn btn-danger disabled", :disabled => true %>
      <%= "  |  " %>
      <%= link_to 'Pegar Requisição', incident_capture_path(@incident.id), method: :patch, data: { confirm: 'Tem certeza que deseja capturar essa requisição?' }, class: "btn btn-success" %>
    <% elsif (@incident.status == Status::PENDING || @incident.status == Status::REOPENED) && @incident.analyst_id == current_analyst.id %>
      <td><%= link_to 'Reiniciar Análise', incident_analyse_path(@incident.id), method: :patch, class: "btn btn-danger" %></td>
    <% end %>
    <% if @incident.status == Status::CLOSED || @incident.status == Status::SOLVED %>
      <%= link_to 'Iniciar Análise', incident_analyse_path(@incident.id), method: :patch, class: "btn btn-danger disabled", :disabled => true %>
      <%= "  |  " %>
      <%= link_to 'Resolver Requisição', edit_incident_path(@incident), class: "btn btn-success disabled", :disabled => true %>
    <% end %>
  <% end %>
</div>
<br />
<br />
<%= link_to 'Lista de Requisições', incidents_path, class: "btn btn-primary" %>
