<div class="panel-body">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Resumo do Problema</th>
      <th>Email do Usuário</th>
      <th>Número do Contrato</th>
      <th>Nome do Usuário</th>
      <% if @incident.closed_or_solved? %>
        <th>Escopo do Problema</th>
        <th>Tipo do Erro</th>
      <% elsif @incident.reopened? %>
        <th><span class='label label-danger'>Motivo da Reabertura</span></th>
    <% end %>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @incident.title %></td>
        <td><%= @incident.user_email %></td>
        <td><%= @incident.contract_id %></td>
        <td><%= @incident.user_name %></td>
        <% if @incident.closed_or_solved? %>
          <td><%= t("enumeration.problem_kind.#{@incident.problem_kind}") %></td>
          <td><%= t("enumeration.problem_kind.#{@incident.entity}") %></td>
        <% elsif @incident.reopened? %>
          <td><%= @incident.reopening_description %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
