<div class="panel-body">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nível de Prioridade</th>
        <th>Reportador Por</th>
        <th>Aberto Em</th>
        <th>Analista</th>
        <th>Última Atualização</th>
        <th>Status da Requisição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @incident.id %></td>
        <td><%= raw value_with_label_for(@incident, 'priority_level') %></td>
        <td><%= @incident.backofficer.name %></td>
        <td><%= brazil_date(@incident.created_at) %></td>
        <td><%= responsible_analyst(@incident) %> </td>
        <td><%= brazil_date(@incident.updated_at) %></td>
        <td><%= raw value_with_label_for(@incident, 'status') %></td>
      </tr>
    </tbody>
  </table>
</div>
