<% if incident.status == Status::OPEN || incident.status == Status::REOPENED %>
  <td><%= link_to 'Editar Dados', edit_incident_path(incident), class: 'btn btn-primary' %></td>
<% elsif incident.status == Status::SOLVED %>
  <td><%= link_to 'Reabrir Requisição', reopen_incident_path(incident), class: 'btn btn-danger' %></td>
<% elsif incident.status == Status::CLOSED %>
  <td><%= link_to 'Editar Dados', edit_incident_path(incident), class: 'btn btn-primary disabled' %></td>
<% elsif incident.status == Status::ANALYSING %>
  <td><%= link_to 'Editar Dados', edit_incident_path(incident), class: 'btn btn-primary disabled' %></td>
<% elsif incident.status == Status::PENDING %>
  <td><%= link_to 'Editar Dados', edit_incident_path(incident), class: 'btn btn-primary' %></td>
<% end %>
